<%- include('./partials/head') %>


<body>
	<%- include('./partials/header') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="form" action="/index" method="get">
				<div>
					<label>Usuario:</label><input type="text" name="usuario" id="" required>
				</div>
				<div>
					<label>Contraseña:</label><input type="password" name="contraseña" id="" required>
				</div>
				<div>
					<label><input type="checkbox" id="recordarme" value="recordarme" /> Recordarme </label>
				</div>
				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>


<%- include('./partials/footer') %>
</body>

</html>