<%- include('./partials/head') %>

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="form" action="/index" method="get">
				<div>
					<label>Email:</label><input type="email" name="mail" id="" required>
				</div>
				<div>
					<label>Usuario:</label><input type="text" name="usuario" id="" required>
				</div>
				<div>
					<label>Contraseña:</label><input type="password" name="contraseña" id="" required>
				</div>
				<div>
					<label>Fecha de nacimiento:</label><input type="date" name="nacimiento" id="" required>
				</div>
				<div>
					<label>Numero de documento:</label><input type="number" name="documento" id="" required>
				</div>
				<div>
					<label>Foto de perfil:</label><input type="file" name="foto" id="">
				</div>
				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>



<%- include('./partials/footer') %>
</body>

</html>